<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Editar Proveedor</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/css/styles.css" rel="stylesheet"/>
<style>
            /* 📌 Estilos adicionales para mejorar la apariencia */
            input.form-control,
            textarea.form-control {
                color: #000;
            }
            input.form-control::placeholder,
            textarea.form-control::placeholder {
                color: #999;
            }
        </style>
</head>
<body>
<div class="container mt-5">
<h1 class="mb-4 text-center">Editar Proveedor</h1>
<div class="d-flex justify-content-end mb-3">
<a class="btn btn-secondary" href="/proveedores">Volver</a>
</div>
<div class="container mt-4">
<div class="card-body">
<form method="post" th:action="@{/proveedores/actualizar/{id}(id=${proveedor.idProveedor})}" th:object="${proveedor}"><input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
<input th:field="*{idProveedor}" type="hidden"/>
<div class="mb-3">
<label class="form-label" for="nombreEmpresa">Nombre Empresa:</label>
<input class="form-control" id="nombreEmpresa" required="" th:field="*{nombreEmpresa}" type="text"/>
</div>
<div class="mb-3">
<label class="form-label" for="contacto">Contacto:</label>
<input class="form-control" id="contacto" th:field="*{contacto}" type="text"/>
</div>
<div class="mb-3">
<label class="form-label" for="telefono">Teléfono:</label>
<input class="form-control" id="telefono" th:field="*{telefono}" type="text"/>
</div>
<div class="mb-3">
<label class="form-label" for="direccion">Dirección:</label>
<input class="form-control" id="direccion" th:field="*{direccion}" type="text"/>
</div>
<div class="d-flex justify-content-end">
<button class="btn btn-primary" type="submit">Guardar</button>
</div>
</form>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
